@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-rgba: rgba(225, 225, 225, 0.8);
  --font-pretendard: "Pretendard Variable";
}

@layer components {
  .for-a11y {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    text-indent: -5000em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-pretendard),
    Apple SD Gothic Neo,
    sans-serif;
}
